.auth_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    width: 50rem;
    max-width: 50rem;
    background-color: var(--background-secondary-light);
    color: var(--font-secondary);
}

.title{
    text-align: center;
    width: 100%;
    padding: 2rem;
    color: var(--font-secondary);
    background-color: var(--background-secondary);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    padding: 2rem;
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .auth_card{
        gap: 0rem;
        width: 45rem;
        margin-top: 0;
    }

    .form {
        width: 100%;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .auth_card{
        width: 85vw;
        margin-top: 0;
    }
}



/* Tiny Mobile Devices up to 325px (e.g. galaxy fold) */
@media (max-width: 325px) {  
    .auth_card{
        width: 24.5rem;
        gap: 0.5rem;
    }
}
