.container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.5rem 10rem;
}

.section_title_white{
    color: var(--font-secondary);
}


/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .section_title{
        text-align: left;
    }

    .container {
        text-align: center;
        padding: 2rem 5rem;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .container {
        text-align: center;
        padding: 2rem 4rem;
    }
}