.point_metric{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.point_metric_flex_wrapper{
    display: flex;
    gap: 2rem;
    align-items: center;
    flex: 0.8;
}

.icon {
    width: 100%;
    font-size: 1.6rem;
    cursor: pointer;
}