.point_metric{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 2rem; 
    border-radius: var(--border-radius);
    border: 0.1rem solid var(--inactive-color-light);
    position: relative;  /* for trash & X icons positioning */
}

.point_metric_flex_wrapper{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.metric_number {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
    padding: 1rem;
}

.input_wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.input_wrapper p {
    font-size: 1.45rem;
}

.small_screen_name{
    display: none; /* initally hidden on larger screens */
}

.name {
    flex: 0.4; /* initally displayed on larger screens */
}

.quantity {
    flex: 0.15;
}

.points{
    flex: 0.1;
}

.dropdown {
    flex: 0.1;
}

.input_wrapper_points{
    display: flex;
    gap: 1rem;
}

.cancel_icon {
    display: none; /* initally hidden on larger screens */
}

.trash_icon {
    font-size: 1.45rem;
    cursor: pointer;
    right: 2rem;
    top: 3.5rem;
    transition: var(--hover-transition);
    position: absolute;
}

.trash_icon:hover, .cancel_icon:hover {
    color: var(--accent-primary);
    transform: scale(1.2);
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .point_metric{
        position: relative; /* for X icon */
    }

    .point_metric_flex_wrapper{
        position: unset; /* reset rel position from above for X icon to apply to .point_metric */
    }

    .input_wrapper p {
        font-size: 1.25rem;
    }

   .quantity  {
        flex: 0.2;
    }
    
    .points{
        flex: 0.2;
    }

    .name{
        display: none;
    }

    .small_screen_name{
        display: flex;
        text-align: center;
        width: 15rem;
        border-bottom: 0.05rem solid var(--inactive-color-light);
        padding-bottom: 1rem;
    }

    .trash_icon {
        display: none;
    }

    .cancel_icon {
        display: block;
        font-size: 2.4rem;
        right: -0.5rem;
        top: -0.5rem;
        cursor: pointer;
        position: absolute;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .point_metric_flex_wrapper {
        gap: 1rem;
    }

}

/* Tiny Mobile Devices up to 325px (e.g. galaxy fold) */
@media (max-width: 325px) {  
    .point_metric_flex_wrapper{
        flex-direction: column;
    }
}