.input {
    color: var(--input-text);
    background-color: var(--input-bg);
    width: 100%;
    padding: var(--input-padding);
    border-radius: var(--border-radius);
}

.input:focus {
    outline: 0.1rem solid var(--default-color);
    transition: var(--input-focus-transition);
}

.input::placeholder{
    color: var(--input-text);
    font-size: clamp(1rem, 2vw, 1.15rem);
}

.input_light {
    color: var(--font-primary);
    background-color: var(--default-color);
    width: 100%;
    padding: var(--input-padding);
    border-radius: var(--border-radius);
    outline: none;
    border: none;
}

.input_light:focus {
    outline: 0.1rem solid var(--input-bg);
    transition: var(--input-focus-transition);
}

.input_light::placeholder{
    color: var(--font-primary);
}

.error {
    border: 0.1rem solid red;
    animation: shake 0.8s ease-in-out; /* Add shake animation */
}

@keyframes shake {
    0% { transform: translateX(0); }
    10%, 90% { transform: translateX(-5px); }
    20%, 80% { transform: translateX(5px); }
    30%, 70% { transform: translateX(-5px); }
    40%, 60% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .input {
        height: 4rem;
    }
}