.how_it_works{
    padding: 4rem 0;
}

.content_flex_wrapper{
    display: flex;
    gap: 4rem;
}

.how_it_works_flex_wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.steps_container {
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 100%;
}

.btn_container{
    margin-top: 2rem;
    width: 25rem;
}


.content_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex: 0 0 100%;
}

.create_challenge_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.step_wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
}


.number {
    font-weight: 600;
    padding: 0.55rem;
}

/* Tablets (landscape) / Small Laptops) */
@media (max-width: 1200px) { 
    .content_flex_wrapper{
       /*  flex-direction: column; */
    }
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .content_flex_wrapper{
         flex-direction: column;
     }

     .text {
        text-align: left;
     }

     .steps_container {
        width: 100%;
    }

}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .how_it_works_flex_wrapper{
        text-align: center;
    }
    .btn_container{
        margin-top: 1rem;
    }
}

/* Tiny Mobile Devices up to 325px (e.g. galaxy fold) */
@media (max-width: 325px) {  

}

  