.how_it_works{
    display: flex;
    flex-direction: column;
}

.how_it_works_flex_wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.text {
    color: var(--font-secondary);
}

.btn_container{
    margin-top: 4rem;
    align-self: center;
    width: 25rem;
}

.steps_container {
    display: flex;
    justify-content: center;
   /*  padding: 2rem 2rem; */
}

  
.content_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    flex: 0 0 100%;
}

.create_challenge_img {
    width: 40%;
    height: 100%;
    object-fit: contain;
}

.step_wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
}

.number {
    font-weight: 600;
    font-size: 1.8rem;
    border: 0.1rem solid var(--background-secondary);
    border-radius: var(--border-radius);
    padding: 0.55rem;
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .create_challenge_img {
        width: 80%;
    }

}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .how_it_works_flex_wrapper{
        text-align: center;
    }
    .btn_container{
        margin-top: 1rem;
    }
}

/* Tiny Mobile Devices up to 325px (e.g. galaxy fold) */
@media (max-width: 325px) {  

}

  