.dashboard{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 65vw;
}

.challenge_name {
    text-align: center;
    color: var(--font-headers);
}

.challenge_overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.rules{
    display: flex;
    gap: 2rem;
}

.rule, .challenge_overview p{
    font-size: clamp(1.2rem, 2vw, 1.6rem);
}

.dashboard_section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.subheader_container{
    display: flex;
    justify-content: space-between;
}

.participants_container{
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.no_users{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .dashboard{
        width: 90%;
    }

    .participants_container{
        justify-content: center;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .challenge_overview h5{
        font-size: 1.2rem;
        text-align: center;
    }
}
