@import './vars.css';

html {
    font-size: 62.5%; /* 100% would be 16 px so now, 1 rem = 10px */
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    /* overflow-x: hidden; */
    touch-action: pan-y;
    overscroll-behavior-x: none;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    overflow-x: hidden; 
    background-color: var(--background-primary);
    letter-spacing: 0.08rem;
}
 
main {
    display: block; /* Render the main element consistently in IE */
}

/* Disable number input spinners for Chrome, Safari, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Disable number input spinners for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Typography */
p {
    font-size: clamp(1.4rem, 2vw, 1.8rem);
    color: var(--font-primary);
    margin: 0;
    font-weight: 500;
}

li {
    font-size: clamp(1.4rem, 2vw, 2rem);
    color: var(--font-primary);
}
  
h2, h3, h4, h5, h6{
    color: var(--font-primary);
}


h1 {
  font-size: clamp(3.5rem, 5vw, 4.8rem);
  font-weight: bold;
  color: var(--font-headers);
}


h2 {
  font-size: clamp(3.3rem, 5vw, 4.3rem);
}

h3 {
  font-size: clamp(2.5rem, 4vw, 3.4rem);
}

h4 {
  font-size: clamp(1.8rem, 3vw, 3rem);
}

h5 {
  font-size: clamp(1.6rem, 2.5vw, 2rem);
}

h6 {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
}