:root {
    /* default / misc */
    --default-color:#F9F9F9;
    --inactive-color: grey;

    /* background */
    --background-primary: white; /* #F9F9F9; */
    --background-secondary:	#263238;
    --background-secondary-light: rgba(38, 50, 56, 0.8);
    --card-bg-primary:	rgba(249, 249, 249,  0.80);
    --form-bg:	rgba(249, 249, 249,  0.80);

    /* font */
    --font-primary:	#263238;
    --font-secondary:#F9F9F9;
    --font-headers:	#FF5722;

    /* accent */
    --accent-primary: #FF5722;
    --accent-secondary: #00BD9D;

    /* buttons */
    --button-primary-bg:#FF5722;
    --button-primary-text:#F9F9F9;
    --button-secondary-bg:	#00BD9D;
    --button-secondary-text:#F9F9F9;
    --button-hover-bg: rgba(255, 87, 34, 0.8);
    --button-hover-bg-secondary: rgba(0, 189, 157, 0.8);
    --button-padding: 1rem;

    /* borders */
    --border-radius: 0.5rem;
    --border-color: #263238;

    /* error/success */
    --error-color: #DC143C;
    --success-color: #00BD9D;

    /* box-shadow */
    --box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);

    /* inputs */
    --input-bg:	#263238;
    --input-text: #F9F9F9;
    --input-padding: 1rem;
    --input-focus-transition: 0.15s ease-in-out;
    
    /* header/footer */
    --header-bg: #263238;
    --footer-bg: #263238;

    /* hover */
    --hover-transition: 0.3s ease-in-out;
}