.input {
    color: var(--input-text);
    background-color: var(--input-bg);
    width: 100%;
    padding: var(--input-padding);
    border-radius: var(--border-radius);
}

.input:focus {
    outline: 0.1rem solid var(--default-color);
    transition: var(--input-focus-transition);
}

.input::placeholder{
    color: var(--input-text);
}