
.button{
    color: var(--button-primary-text);
    background-color: var(--button-primary-bg);
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    font-weight: bold;
}

.button:hover{
    background-color: var(--button-hover-bg);
    transition: var(--hover-transition);
}

.inactive_button{
    color: var(--button-primary-text);
    background-color: var(--inactive-color);
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    font-weight: bold;
}

.button_secondary{
    color: var(--button-secondary-text);
    background-color: var(--button-secondary-bg);
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    font-weight: bold;
    width: 100%;
}

.button_secondary:hover{
    background-color: var(--button-hover-bg-secondary);
    transition: var(--hover-transition);
}

.label {
    width: 100%;
}