
.button{
    color: var(--button-primary-text);
    background-color: var(--button-primary-bg);
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    font-weight: bold;
}

.button:hover{
    background-color: var(--button-hover-bg);
    transition: var(--hover-transition);
}

.inactive_button{
    color: var(--button-primary-text);
    background-color: var(--inactive-color);
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    font-weight: bold;
}