.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 8rem 10rem;
    background-color: var(--footer-bg);
    text-align: center;
    position: relative;
    width: 100vw;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.footer > * {
    color: var(--font-secondary);
}

.socials_container{
    display: flex;
    gap: 3rem;
}

.icon {
    font-size: clamp(2.5rem, 2vw, 3rem);
    color: var(--font-secondary);
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .footer {
        align-items: flex-start;
        text-align: left;
        padding: 10rem 2rem;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .footer {
        gap: 1rem;
        margin-top: 2rem;
    }
}