.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 8rem 10rem;
    background-color: var(--footer-bg);
    text-align: center;
    position: relative;
    width: 100vw;
}

.footer > * {
    color: var(--font-secondary);
}

.socials_container{
    display: flex;
    gap: 3rem;
}

.icon {
    font-size: clamp(2.5rem, 2vw, 3rem);
    color: var(--font-secondary);
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .footer {
        gap: 1rem;
        padding: 6.5rem 2rem;
        margin-top: 2rem;
    }
}