.dashboard{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 75vw;
    padding: 1rem 4rem;
}

.challenge_name {
    text-align: center;
    color: var(--font-headers);
}

.challenge_overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding: 1rem; 
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rules{
    display: flex;
    gap: 2rem;
}

.rule, .challenge_overview p{
    font-size: clamp(1.2rem, 2vw, 1.6rem);
}

.dashboard_section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    background-color: var(--background-primary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.not_participant_text{
    text-align: center;
}

.subheader_container{
    display: flex;
    justify-content: space-between;
}

.participants_container{
    display: grid; 
    justify-content: center;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.no_users{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.btns_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin: 6rem 0;
    /* margin: 4rem auto; */
}

.delete_challenge_confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    background-color: var(--background-primary);
    border: 0.1rem solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 1rem; 
}

.warning{
    color: var(--error-color);
}

.btns_flex_wrapper{
    display: flex;
    gap: 2rem;
}

.inactive_challenge_msg{
    margin-top: 5rem;
    text-align: center;

}


/* Mobile Devices (landscape) */
@media (max-width: 950px) { 
    .dashboard{
        width: 100%;
        padding: 1rem 0.5rem;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .challenge_overview h5{
        font-size: 1.2rem;
        text-align: center;
    }
}
