.dashboard{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 65vw;
    padding: 2rem;
}

.challenge_name {
    text-align: center;
    color: var(--font-headers);
}

.challenge_overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.rules{
    display: flex;
    gap: 2rem;
}

.rule, .challenge_overview p{
    font-size: clamp(1.2rem, 2vw, 1.6rem);
}

.dashboard_section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.subheader_container{
    display: flex;
    justify-content: space-between;
}

.participants_container{
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.no_users{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.btns_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin: 6rem 0;
    /* margin: 4rem auto; */
}

.delete_challenge_confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    background-color: var(--background-primary);
    border: 0.1rem solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 1rem; 
}

.warning{
    color: var(--error-color);
}

.btns_flex_wrapper{
    display: flex;
    gap: 4rem;
}

.inactive_challenge_msg{
    margin-top: 5rem;
    text-align: center;

}


/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .dashboard{
        width: 90%;
    }

    .participants_container{
        justify-content: center;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .challenge_overview h5{
        font-size: 1.2rem;
        text-align: center;
    }
}
