.active_challenge{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    background-color: var(--accent-secondary);
    cursor: pointer;
    /* width: 20rem; */
}

.active_challenge:hover{
    background-color: var(--button-hover-bg-secondary);
    transition: var(--hover-transition);
}

.name{
    color: var(--button-primary-text);
}

.link_container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.creator{
    font-size: clamp(1.25rem, 2vw, 1.5rem);
}