.user_profile {
    display: flex;
    flex-direction: column;
    width: 55rem;
    margin-bottom: 8rem;
}

.return_container > *{
    display: flex;
    align-items: center;
    gap: 0.1rem;
    margin-bottom: 0.75rem;
}

.back_arrow, .return_container p {
    font-size: clamp(1.2rem, 2vw, 1.4rem);
}

.user_main_overview{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 2rem;
    background-color: var(--background-secondary);
}

.user_main_overview > *, .user_info_container > *{
    color: var(--font-secondary);
}

.user_info_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.25rem;
}

.profile_pic_flex_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.profile_pic_container{
    width: 20rem; 
    height: 20rem; 
    overflow: hidden;
    border-radius: 50%; 
    border: 0.25rem solid var(--default-color);
    background-color: var(--default-color); /* Fallback color or pattern */
}

.profile_pic {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;

}

.update_profile_pic_btn {
    position: absolute;
    padding: 0.5rem;
    border: 0.25rem solid var(--default-color);
    border-radius: 50%; 
    background-color: var(--inactive-color);
    color: var(--background-secondary);
    bottom: 0.5rem;
    right: 1.5rem;
    font-size: 3.4rem;
    cursor: pointer;
    transition: var(--hover-transition);
    z-index: 10;
}

.update_profile_pic_btn:hover{
    background-color: var(--inactive-color-light);
    color: var(--background-primary);
}

.user_details_section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 0.1rem solid var(--background-secondary);
}

.user_details_section button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    cursor: pointer;
}

.logout p, .logout .icon {
    font-weight: 900;
}

.icon {
    color: var(--font-primary);
    font-weight: bold;
    font-size: 2.5rem;
}

/* Tablets (landscape) / Small Laptops) */
@media (max-width: 1200px) { 
    .user_profile {
        width: 40rem;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .user_main_overview{
        flex-direction: column;
        gap: 2rem;
    }

    .update_profile_pic_btn {
        bottom: -0.25rem;
        right: 2rem;
    }

    .user_profile {
        width: 30rem;
        margin-bottom: 1rem;
    }
}

/* Tiny Mobile Devices up to 325px (e.g. galaxy fold) */
@media (max-width: 325px) {  
    .user_profile {
        width: 24rem;
    }
}