.headline {
    color: var(--font-secondary);
}

.login p {
    font-size: clamp(1.2rem, 2vw, 1.4rem);
}

.user_name_wrapper{
    display: flex;
    gap: 1rem;
}

.error_text{
    color: var(--error-color);
}