.challenges{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.challenge_section{
    display: flex;
    flex-direction: column;
    gap: 2rem; 
}

.active_challenges_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
    overflow: hidden;

}

.icon {
    font-size: 5rem;
}

.underline{
    text-decoration: underline;
}

.btn_wrapper{
    margin-top: 2rem;
}

