.challenges{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    width: 85vw;

}

.challenge_section{
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    padding: 4rem;
    width: 100%;
    background-color: var(--card-bg-primary);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.active_challenges_container{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.55rem;
    overflow: hidden;
}

.loading_container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.icon {
    font-size: 5rem;
}

.underline{
    text-decoration: underline;
}

.btn_wrapper{
    margin-top: 2rem;
}


/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .challenges{
        width: 100%;
        padding: 0 0.5rem;
    }
}

