.challenges{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
    width: 100vw;
    justify-content: space-evenly;
}

.challenge_section{
    display: flex;
    flex-direction: column;
    gap: 2rem; 
}

.create_challenge{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.active_challenges_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
    overflow: hidden;

}

.icon {
    font-size: 5rem;
}

.underline{
    text-decoration: underline;
}


/* Tablets (portrait) */
@media (max-width: 950px) { 
    .challenges{

    }
    
    .challenge_section{

    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .challenge_section{

    }
}
