.main_container {
    display: flex;
    justify-content: center;  
    align-items: center;
    height: calc(100vh - 12.5rem); /* 12.5rem === fixed height of header, adjust accordingly if header height changes */
}