.auth_error{
    color: var(--error-color);
}

.password_reset_container{
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.text {
    color: var(--font-primary);
    padding-bottom: 2rem;
}

.route_to_login_text {
    color: var(--accent-secondary);
}

.route_to_login_text:hover{
    text-decoration: underline;
}