.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
    height: 10rem; 
    background-color: var(--card-bg-primary);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.header_text {
    font-weight: bold;
    color: var(--font-headers);
    padding: 0 1rem;
}

.fit_friends_header{
    display: flex;
    align-items: center;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.active .nav_item_text, .active .icon{
    color: var(--font-headers);
    font-weight: 900;
}

.nav_item{
    display: flex;
    align-items: center;
    gap: 2rem; 
}

.nav_item_text {
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    color: var(--font-primary);
}

.nav_item:hover .nav_item_text {
    opacity: 1;
} 


.icon{
    font-size: clamp(1.8rem, 2vw, 2.2rem);
    color: var(--font-primary);
    cursor: pointer;
}

.prof_pic_container{
    width: 5rem; 
    height: 5rem; 
    overflow: hidden;
    border-radius: 50%; 
    background-color: var(--default-color);
}

.prof_pic {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.active .prof_pic_container {
    border: 0.15rem solid var(--accent-primary);
}

.initials {    
    border-radius: 50%; 
    padding: 1rem;
    color: var(--font-secondary);
    background-color: var(--background-secondary);
   /*  font-weight: 900 */;
}

.active .initials {
    background-color: var(--accent-primary);
}


/* DROPDOWN MENU NAVBAR STYLES */
.navbar_dropdown{
    display: none;
    z-index: 10;
}

.link {
    color: var(--font-headers);
    font-size: clamp(2rem, 2.5vw, 3rem);
    z-index: 10;
}
  
.hamburger, .hamburger_active{
    display: none;
    position: absolute;
    cursor: pointer;
    z-index: 9999;
    color: var(--font-headers);
}
  
.bar {
    display: block;
    z-index: 9999;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--font-headers);;
}
  


/* Ensures dropdown nav closes if larger screen re-size from activation */
@media (min-width: 776px) { 
    .navbar_dropdown{
        display: none;
    }
}
  
/* Mobile Devices (landscape) */
@media (max-width: 775px){
    .header{
        justify-content: flex-start;
        gap: 1rem;
        padding: 2rem 0.5rem;
        height: 6.5rem;
    }

    .hamburger, .hamburger_active{
        top: 2rem;
        right: 2rem;
    }

    .header_text{
       /* padding-left: 4rem; */
    }

    .navbar{
        display: none;
        
    }

    .hamburger{
        display: block;
    }

    .navbar_dropdown{
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--background-primary);
        z-index: 10;

    }

    .navbar_links_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        border-bottom: 0.1rem solid white;
        width: 100vw;
        height: inherit;
        padding: 4rem;
    }

    .hamburger_active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger_active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger_active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
}

/* Tiny Mobile Devices up to 325px (e.g. galaxy fold) */
@media (max-width: 325px) {  

}