.daily_points_input{
    display: flex;

    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--background-secondary);
    padding: 2rem;
}

.inputs_container{
    display: flex;
    gap: 3rem;
    justify-content: space-evenly;
    flex: 1;
}

.input {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.input_width_wrapper{
    width: 6rem;
}

.input_category {
    color: var(--font-secondary);
}

.button_width_wrapper{
    display: flex;
    flex: 0.3;
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .daily_points_input{
        flex-direction: column; 
        gap: 2rem;
    }

    .inputs_container{
        justify-content: space-evenly;
        width: 100%;
    }

    .input {
        flex-direction: column;
    }

    .button_width_wrapper{
        width: 40%;
    }
}

