.participant_card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: var(--border-radius);
    background-color: var(--background-secondary);
}

.nickname, .points_container > * {
    color: var(--font-secondary);
}

.name {
    color: var(--font-headers);
}

.participant_overview{
    display: flex;
    justify-content: space-between;
}

.points_container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.total_points{
    font-weight: 700;
    color: var(--accent-secondary);
}

.profile_pic {
    width: 40%;
    height: 100%; 
    object-fit: cover;
    border-radius: 50%;
}

.default_img{
    filter: brightness(0) invert(1) grayscale(1);
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) {
    .participant_card{
        gap: 2rem;
        width: 100%;
    }

    .name_container{
        flex: 0.5;
        text-align: center;
    }

    .profile_pic {
        width: 30%;
    }
    
}


