/* note: width is controlled via challenge.module.css at .participants_container */
.participant_card, .first_place_participant_card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: var(--border-radius);
    background-color: var(--background-secondary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.first_place_participant_card {
    position: relative;
    border: 0.25rem solid var(--accent-winner);
}

.first_place_number {
    position: absolute;
    font-size: clamp(1.8rem, 2vw, 2.4rem);
    right: 0;
    top: 0;
    color: var(--accent-winner);
}

.name_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 2rem; */
}

.nickname, .points_container > * {
    color: var(--font-secondary);
}

.nickname{
    font-size: 1.45rem;
    font-weight: 900;
}

.name {
    color: var(--font-headers);
}

.participant_overview{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.points_container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.total_points{
    font-weight: 700;
    color: var(--accent-secondary);
}

.profile_pic_small_screens{
    display: none;
}

.profile_pic {
    width: 4.5rem;
    /* height: 100%;  */
    object-fit: contain;
    border-radius: 50%;
}

.default_img{
    filter: brightness(0) invert(1) grayscale(1);
}
 

/* Mobile Devices (landscape) */
@media (max-width: 950px) { 
    .participant_card{
        gap: 1rem;
        padding: 1rem;
    }

    .profile_pic {
        display: none;
    }

    .profile_pic_small_screens{
        display: block;
        width: 8%;
        width: 2.25rem;
        height: 100%; 
        object-fit: contain;
        border-radius: 50%;
    }

    .name_container {
        flex-wrap: nowrap;
        /* gap: 1rem; */
    }

    .points_container{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 2rem;
    }
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .participant_card{
        width: 100%;
    }
}



