.participant_card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: var(--border-radius);
    background-color: var(--background-secondary);
}

.name_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nickname, .points_container > * {
    color: var(--font-secondary);
}

.name {
    color: var(--font-headers);
}

.participant_overview{
    display: flex;
    justify-content: space-between;
}

.points_container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.total_points{
    font-weight: 700;
    color: var(--accent-secondary);
}

.profile_pic {
    width: 40%;
    height: 100%; 
    object-fit: cover;
    border-radius: 50%;
}

.default_img{
    filter: brightness(0) invert(1) grayscale(1);
}

/* Tablets (portrait) */
@media (max-width: 950px) { 
    .profile_pic {
        width: 30%;
    }
} 


